@import './_easing.scss';

:root {
  --app-width: 1280px;
  --app-padding: 2rem;
  --app-border-radius: 7px;
  --app-background: #222;

  --app-color-text: #000;

  --app-font-size: 15px;
  --app-font-family: Inter,  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,   Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --app-link-color: #00bc8c;
  --app-link-hover-color: #009670;
  --app-link-active-color: var(--app-link-color);

  --app-transition: .4s #{$easeOutBack} 0s;

  --app-h1-font: 28px/120% var(--app-font-family);
  --app-h2-font: 22px/120% var(--app-font-family);
  --app-h3-font: 18px/120% var(--app-font-family);
  --app-h4-font: 16px/120% var(--app-font-family);

  --app-h1-margin: 0 0 20px;
  --app-h2-margin: 20px 0;
  --app-h3-margin: 20px 0;
  --app-h4-margin: 20px 0;

  --app-h1-padding: 0;
  --app-h2-padding: 0;
  --app-h3-padding: 0;
  --app-h4-padding: 0;

  --app-primary-color: #375a7f;
  --app-primary-color-hover: #2f4d6c;
  --app-primary-color-active: #2c4866;
  --app-primary-color-disabled: #375a7f;

  --app-secondary-color: #444;
  --app-secondary-color-hover: #3a3a3a;
  --app-secondary-color-active: #363636;
  --app-secondary-color-disabled: #444;

  --app-success-color: #00bc8c;
  --app-success-color-hover: #00a077;
  --app-success-color-active: #009670;
  --app-success-color-disabled: #00bc8c;

  --app-info-color: #3498db;
  --app-info-color-hover: #2c81ba;
  --app-info-color-active: #2a7aaf;
  --app-info-color-disabled: #3498db;

  --app-warning-color: #f39c12;
  --app-warning-color-hover: #cf850f;
  --app-warning-color-active: #c27d0e;
  --app-warning-color-disabled: #f39c12;

  --app-danger-color: #e74c3c;
  --app-danger-color-hover: #c44133;
  --app-danger-color-active: #b93d30;
  --app-danger-color-disabled: #e74c3c;
}


// Вот это мне никогда не пригождается, но пусть будет
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: #000;
  }
} */